html, body {
    padding: 0;
    margin: 0;
    background: #fff;

    padding-left: 10%;
    padding-right: 10%;
}

strong {
    font-weight: 900;
}

h1 {
    font-family: "Manrope", sans-serif;
    font-weight: 800;
}
h2 {
    font-family: "Manrope", sans-serif;
    font-weight: 600;
}
p, ul {
    font-family: "Manrope", sans-serif;
    font-weight: 300;
}

nav {
    display: flex;
        align-items: center;

    width: 100%;
    height: 100px;
}